@import '../../../common/styles/colors';

.products-card {
  :hover {
    div.-price {
      background: rgb(252,0,85);
      background: -moz-linear-gradient(270deg, rgba(252,0,85,1) 0%, rgba(198,0,66,1) 100%);
      background: -webkit-linear-gradient(270deg, rgba(252,0,85,1) 0%, rgba(198,0,66,1) 100%);
      background: linear-gradient(270deg, rgba(252,0,85,1) 0%, rgba(198,0,66,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fc0055",endColorstr="#c60042",GradientType=1);
      
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      color: white;
    }
  }


  > div:hover {
    transition: 0.1s;
    box-shadow: 1px 2px 9px -5px black;
  }

  .card {
    border: none;
    border-radius: 0;
    text-align: center;
  }
  
  div.-image {
    min-height: 60px;
  }
  
  .card-body {
    padding: 0;
  }

  .card-title {
    font-size: 1rem;
    height: 54px;
    line-height: 1.6rem;
    margin-bottom: 0;
  }

  p.volume {
    color: $primary-color;
  }

  .card-footer {
    background-color: transparent;
    border-top: 0px;
    padding: 0.75rem 0;

    img {
      width: 35px;
      cursor: pointer;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}


.new-wrapper {
  position: absolute;
  top: -30px;
  right: 8px;
  border: 1px solid #ec407a;
  border-radius: 17%/50%;

  p {
    margin-bottom: 0;
    color: $primary-color;
    padding: 0 23px 4px;
  }
}