@import 'colors';

body {
  direction: rtl;
}

.--dir-ltr {
  direction: ltr;
}

.--dir-rtl {
  direction: rtl;
}

.fs-2 {
  font-size: 2rem;
}

.text-gray {
  color: $gray-color;
}

// override bootstrap styles
nav.bg-light {
  background-color: white !important;
}

.nav-link {
  padding: 0 0.3rem !important;
  :hover {
    text-decoration: none;
    border-bottom: 2px solid lightgray;
  }
  a {
    color: black;
    padding: 1rem 0.5rem 0.7rem;
  }
}

// BOTTONS
.btn {
  font-weight: 700;
  padding: 1rem .75rem;
  border-radius: 0.4rem;
}
.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover, &:focus, &:active {
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    box-shadow: 0 0 0 0.2rem rgba(236, 64, 122, 0.5) !important;
  }
}
.btn-light {
  background-color: transparent;
  border: none;
  &:hover, &:focus, &:active {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
}